@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML Template</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css" />
    <script src="~/js/site.js"></script>
</head>

    
<body>
    <div class="text-center">
        <p class="display-4">In honor of the spooky month of October, the great Arsenio Hall presents the original musician of horror...</p>
        <h1 id="animtext">Screamin' Jay Hawkins!'</h1>
        <iframe allowfullscreen="allowfullscreen" width="420" height="315" src="https://www.youtube.com/embed/3S7a4Uj2yME" />
        <br />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
    
</html>

